

.clr_title:hover{
color: rgb(100, 86, 4);
}

.card_style{
    border-width: 1px;
    border-radius: 15px;
}
.card_style:hover{
border-width: 1px;
border-color: rgb(70, 192, 70);
}

  .card_design{
    border: 1px;
    border-radius: 5px;
    height: 250px;
    width: 340px;
  }
  .image_style{
    margin-top: 85px;
    margin-left: 120px;
}
.card-style1:hover{
  cursor: pointer;
  border-width: 1px;
border-color: rgb(27, 5, 149);
}
